@model PrismaCatalogo.Front.Cliente.Models.ProdutoViewModel

<div class="item">
    
    @* <a asp-controller="Produto" asp-action="Index" asp-route-produtoId="@Model.Id"> *@
    <div class="thumb">
        <div class="hover-content">
            <ul>
                    <li><a asp-controller="Produto" asp-action="Index" asp-route-produtoId="@Model.Id"><i class="bi bi-eye"></i></a></li>
              @*   <li><a href="single-product.html"><i class="bi bi-star"></i></a></li>
                <li><a href="single-product.html"><i class="bi bi-cart"></i></a></li> *@
            </ul>
        </div>
        @if (Model.FotoCapa != null)
        {
           @*  <img src="data:image/png;base64,@Html.DisplayFor(modelItem => Model.FotoCapa.FotoBytes)"></img> *@
            <img src="@Model.FotoCapa.Caminho"/>
        }
        else
        {
            <img src="~/images/SemImagem.png" />
            @* <div><i class="bi bi-file-image-fill"></i></div> *@
        }
    </div>
    <div class="down-content" style="display:flex;flex-wrap: wrap;justify-content: space-around;">
        
        <div>
            <h4>@Model.Nome</h4>
            <span>Preço: @(Model.Preco != null ? Model.Preco : "--")</span>
        </div>
        <div>
            @await Component.InvokeAsync("Estrelas", new { num = Convert.ToInt32(Model.AvaliacaoMedia) })
        @* <ul class="stars">
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-star"></i></li>
        </ul> *@
        </div>
    </div>
    @* </a> *@
</div>


@* <div class="card mb-3 product-card" style="max-width: 300px; height:150px">
    <div class="row g-0" style="height:100%">
        <div class="col-md-4 align-middle d-flex align-items-center" style="height:100%">
            <div class=" product-view2  rounded" >
                @if (Model.FotoCapa != null)
                {
                    <img class="mx-auto d-block" src="data:image/png;base64,@Html.DisplayFor(modelItem => Model.FotoCapa.FotoBytes)"></img>
                }
                else
                {
                    <div><i class="bi bi-file-image-fill"></i></div>
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="text-truncate">
                    <a asp-controller="Produto" asp-action="Index" 
                       asp-route-produtoId="@Model.Id">@Model.Nome</a>
                </h4>
                @* <h5>@(Model.ProdutosFilhos != null && Model.ProdutosFilhos.Where(p => p.Preco != null).Select(p => p.Preco).Order().FirstOrDefault() != null ? "Preço: R$" + Model.ProdutosFilhos.Select(p => p.Preco).Order().FirstOrDefault() : "")</h5> 
                <h5>@(Model.Preco != null ? "Preço: R$ " + Model.Preco : "Preço: --")</h5>
                <p>@Model.Descricao</p>
            </div>
        </div>
    </div>
</div> *@